* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --spotify-green: #1DB954
}


body {
}

h1, p {
  margin: 0;
}

.font-title {
  font-size: 3rem;
}
.gif {
  /* width: 300px; */
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-gap-small {
  gap: 10px;
}

.center-horizontal {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
}
.flex-wrapper {
  display: flex;
}


.flex-wrapper--center {
  justify-content: center;
}

.login {
  display:flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}


.login__section {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.login__btn {
  width: 200px;
  height: 65px;
  background-color: var(--spotify-green);
  color: black;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  font-size: 1.3rem;
}

.login__btn:hover {
  background-color: rgb(71, 163, 71);
}

.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.radio-description {
  font-size: 1.3rem;
}

.login__stations__station {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  /* background-color: rgb(53, 53, 53); */
  border-radius: 5px;
  padding: 2rem;
}

.login__stations__station > h3 {
  text-align: center;
  margin: 0px;
}

.login__stations__station__image {
  width: 150px;
  height: 150px;
  /* border: 1px solid white; */
  background-color: rgb(72, 81, 93);
  margin: 0 auto;
  border-radius: 5px;
}

.station-description {
  
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  height: 99vh;
}

.no-image {
  width: 300px;
  height: 300px;
  background-color: black;
}

.dashboard-header {
  display: flex;
  justify-content: cen;
  font-size: 24px;
  font-weight: bold;
}

/* || STATION */
.station-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.station-btn {
  background-color: rgba(185, 201, 205, 0.5);
  border: 0px;
  padding: .5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.station-btn:hover {
  background-color: rgba(185, 201, 205, 0.7);
}

.current-station {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 100%; */
}

.current-station__track-details {
  font-size: 2rem;
  width: 100%;
  margin: auto;
  font-weight: bold;

}

.current-station__track-details__image__wrapper {
  position: relative;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
  max-height: 400px;
}

.current-station__track-details__logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  opacity: 0.7;
}

.current-station__track-details__details {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.current-station__track-details__image {
  width: 400px;
  height: 400px;
}

.webplayer__skeleton__image {
  width: 400px;
  height: 400px;
  color: rgb(100, 100, 140);
}

/* || Volume */

.volume {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.volume__level {
  display: flex;
  gap: 5px;
}

.volume__level__block {
  width: 20px;
  height: 40px;
  border: 1px solid white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.volumn__level__block--low {
  width: 20px;
  height: 20px;
}

.volume__level__block--mid {
  width: 20px;
  height: 40px;
}

.volume__level__block--high {
  width: 20px;
  height: 60px;
}
.volume__level__block--active {
  background-color: green;
}

.volume__icon {
  /* width: 100%; */
  /* text-align: center; */
  /* background-color: red; */
}

.volume__icon__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.volumee__icon--active {
  background-color: green;
}

.volume__icon:hover {
  color: rgb(205, 200, 200);
  cursor: pointer
}

.volume__icon--mute {
  color: red;
}

.volume__level__block:hover {
  background-color: green;
  cursor: pointer;
}

.image-logo {
  width: 60px;
  height: 60px;
}

/* Carousel */

.carousel {
  height: 50%;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media (max-width: 430px) {
  .dashboard {
    max-height: 100vh;
    gap: 5%;
  }

  .current-station {

  }

  .carousel {

  }
  
  .station-container__wrapper {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    overflow-x: scroll;
  }

  .station-container {
    margin: 0 auto;
    height: 100%;
    gap: 1px;
    padding: 1rem 0;
    /* margin-left: 300px; */
  }

  .station-btn {
    width: 90px;
    height: 90px;
    padding: 0px;
    font-size: 1rem;
  }

  .image-logo {
    width: 90px;
    height: 90px;
  }

  .current-station__track-details {
    /* height: 100%; */
  }

  .current-station__track-details__details {
    max-height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .current-station__track-details__details__track-name {
    font-size: 1.5rem;
  }
  .current-station__track-details__details__artist-name {
    font-size: 1.125rem;
  }

  .current-station__track-details__image {
    width: 350px;
    height: 350px;
  }

  .webplayer__skeleton__image {
    width: 350px;
    height: 350px;
  }

  .volume {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
  }

  .volume__icon__wrapper {

  }
  .volume__level__block__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login {
    display: flex;
    flex-direction: column;
  }

  .login__section {
    position: absolute;
    top: 25%;
  }

  .login__section > p {
    text-align: center;
  }

  .login__stations__station {
    max-width: 175px;
  }

  .login__stations__station > p {
    /* font-size: 1rem; */
  }

  .login__stations__station__image {
    width: 135px;
    height: 135px;
  }

  .login__stations__wrapper {
    display: flex;
    /* background-color: red; */
    padding: 0px;

  }

  .radio-description {

  }
}



.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:1em;
  margin-left: 0px;
}


/* Switch starts here */
/* https://codepen.io/marcusconnor/pen/QJNvMa source of switch */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

/* Initial states */
.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

/* For switch elevation */
.switch-left::before, 
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}



input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}