* {
  boxs-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
}

h1, p {
  margin: 0;
}

.flex-wrapper {
  display: flex;
}

.flex-wrapper--center {
  justify-content: center;
}
.dashboard {
  display: flex;
  flex-direction: column;
  height: 99vh;
  /* background-color: red; */
}

.no-image {
  width: 300px;
  height: 300px;
  background-color: black;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 24px;
  font-weight: bold;
}

/* || STATION */
.station-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.station-btn {
  background-color: rgba(185, 201, 205, 0.5);
  border: 0px;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.station-btn:hover {
  background-color: rgba(185, 201, 205, 0.7);
}

.current-station {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.current-station__track-details {
  font-size: 2rem;
  width: 100%;
  margin: auto;
  font-weight: bold;
}

.current-station__track-details__image__wrapper {
  position: relative;
}

.current-station__track-details__logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  opacity: 0.7;
}

.current-station__track-details__details {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.current-station__track-details__image {
  width: 400px;
  height: 400px;
}

/* || Volume */

.volume {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.volume__level {
  display: flex;
  gap: 5px;
}

.volume__level__block {
  width: 20px;
  height: 40px;
  border: 1px solid white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.volumn__level__block--low {
  width: 20px;
  height: 20px;
}

.volume__level__block--mid {
  width: 20px;
  height: 40px;
}

.volume__level__block--high {
  width: 20px;
  height: 60px;
}
.volume__level__block--active {
  background-color: green;
}

.volume__icon {
  /* width: 100%; */
  /* text-align: center; */
  /* background-color: red; */
}

.volume__icon__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.volumee__icon--active {
  background-color: green;
}

.volume__icon:hover {
  color: rgb(205, 200, 200);
  cursor: pointer
}

.volume__icon--mute {
  color: red;
}

.volume__level__block:hover {
  background-color: green;
  cursor: pointer;
}

.image-logo {
  width: 100px;
  height: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 420px) {
  .dashboard {
    /* background-color: green; */
    max-height: 100vh;
  }
  .current-station {
    /* background-color: blue; */
  }

  .station-container__wrapper {
    max-width: 90vw;
    height: 30%;
    margin: 0 auto;
    overflow-x: scroll;
  }

  .station-container {
    margin: 0 auto;
    height: 100%;
    gap: 1px;
    padding: 1rem 0;
    margin-left: 450px;
  }

  .station-btn {
    width: 120px;
    height: 120px;
    padding: 0px;
    font-size: 1rem;
  }

  .image-logo {
    width: 100px;
    height: 100px;
  }

  .current-station__track-details {
    height: 100%;
  }

  .current-station__track-details__details__track-name {
    font-size: 1.5rem;
  }
  .current-station__track-details__details__artist-name {
    font-size: 1.125rem;
  }
  .current-station__track-details__image {
    width: 275px;
    height: 275px;
  }

  .volume {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
  }

  .volume__icon__wrapper {

  }
  .volume__level__block__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
